/* variables */
:root {
    /* colour palette from https://www.design-seeds.com/seasons/spring/rain-tones/ */
    --white: #F6F6F6;
    --pale-white: #EFEDEF;
    --light-gray: #E0DFE0;
    --dark-gray: #BEBABC;
    --slate-gray: #525253;
    --gray: #C3C3C3;

    /* imported font */
    --font: 'Rubik', sans-serif;
    --font-light: 300;
    --font-normal: 400;
    --font-bold: 700;
}

body {
    font-family: var(--font);
    margin: 0;
    color: var(--slate-gray);
    background-color: var(--white);
}

/* header */
.header {
    padding: 3em 15vw 3em 15vw;
}

.header__title {
    font-size: 3em;
    margin: 0;
}

.header__subtitle {
    font-weight: var(--font-light);
    font-size: 1.2em;
}

/* section */
.section {
    padding: 3rem 0 0 10vw;
}

.section--padded {
    padding: 1rem 15vw 0 15vw;
}

.section__item {
    margin: 2rem 0 0 0;
}

.section__heading {
    font-size: 1.7em;
    margin: 0;
}

.section__subheading {
    font-size: 1.1em;
    font-weight: var(--font-normal);
}

.section__text {
    font-size: 1em;
    line-height: 2em;
}

.section__list-item {
    margin: 1em 0 0 0;
}

/* links */
.link {
    text-decoration: underline;
    color: var(--slate-gray);
}

.link:hover {
    color: var(--dark-gray);
}

/* figure */
.fig__caption {
    font-size: 1em;
    margin: 1em 0;
    font-weight: var(--font-light);
}

/* table */
.table {
    border-collapse: separate;
    border-spacing: 0;
    border: 0.5px solid var(--dark-gray);
    background-color: var(--white);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 5px -3px var(--light-gray);
}

.table__row:hover {
    background-color: var(--light-gray);
}

.table__heading {
    font-weight: var(--font-normal);
    font-size: 1.2em;
    text-align: left;
    padding: 0.5em 1.2em;
}

.table__text {
    font-size: 1em;
    padding: 0.5em 1.2em;
    border-top: 1px solid var(--light-gray);
}

.table__heading:first-child, .table__text:first-child {
    border-right: 1px solid var(--light-gray);
}

/* button */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3em;
    transition: background-color 0.2s ease;
}
.btn--light {
    border: 1px solid var(--light-gray);
    color: var(--slate-gray);
}

.btn--light:hover {
    background-color: var(--light-gray);
}

.btn__icon {
    font-size: 1em;
}

.btn__text {
    margin: 0 0 0 0.3em;
    font-size: 0.8em;
    font-weight: var(--font-light);
}

/* footer */
.footer {
    padding: 1em 0 1em 40vw;
}

.footer__text {
    color: var(--dark-gray);
    font-weight: var(--font-light);
    font-size: 0.6em;
}

/*!
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
 @font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("./webfonts/fa-brands-400.eot");
    src: url("./webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("./webfonts/fa-brands-400.woff2") format("woff2"), url("./webfonts/fa-brands-400.woff") format("woff"), url("./webfonts/fa-brands-400.ttf") format("truetype"), url("./webfonts/fa-brands-400.svg#fontawesome") format("svg"); }
  
.fab {
    font-family: 'Font Awesome 5 Brands';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-github:before {
    content: "\f09b"; 
}

.vega-bind {
    margin: 1em 0;
}

select {
    margin: 0 0 0 1em;
    background-color: var(--white);
    padding: 0.5em 0 0.5em 0.7em;
    border-color: transparent;
    border-bottom-color: var(--slate-gray);
    color: var(--dark-gray);
    transition: color 0.2s ease;
}

select:hover {
    cursor: pointer;
    color: var(--slate-gray);
}

select:focus {
    outline: none;
}

option {
    background-color: var(--white);
    color: var(--slate-gray);
    border: none;
    outline: none;
}

option:focus {
    background-color: var(--dark-gray);
}

@media only screen and (min-width: 900px) {
    /* header */
    .header {
        padding: 8em 15vw 3em 15vw;
    }

    /* section */
    .section--padded {
        padding: 2rem 25vw 0 25vw;
    }

    .section__item {
        margin: 4rem 0 0 0;
    }
}